<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
  <div class="center">
    <h1>Forgot Password</h1>
    <form method="POST">
      <div class="txt_field">
        <input type="text" name="username" required  minlength="3" maxlength="30">
        <label>Username</label>
        <span></span>
      </div>
      <div class="txt_field">
        <input type="text" name="recovery_phrase" required  minlength="3" maxlength="30">
        <label>Recovery Phrase</label>
        <span></span>
      </div>
      <input type="submit" value="Login">
      <div class="users_signup">
            Already have an account? <a href="{{ url_for('login') }}">Login here</a>
        </div>
        <div class="users_signup">
            Don't have an account? <a href="{{ url_for('create_account') }}">Create one here</a>
        </div>
    </form>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="error">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
</body>
</html>



