<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
<div class="center">
    <h1>Login</h1>

    <form method="POST">
        <div class="txt_field">
            <input type="text" name="username" required  minlength="3" maxlength="30">
            <label>Username</label>
            <span></span>
        </div>

        <div class="txt_field">
            <input type="password" name="password" required  minlength="6" maxlength="30">
            <label>Password</label>
            <span></span>
        </div>

        
        <div class="forgot">
            <a href="{{ url_for('forgot_password') }}">Forgot Password?</a>
        </div>



        <input type="submit" value="Login">

        <div class="users_signup">
            Don't have an account? <a href="{{ url_for('create_account') }}">Create one here</a>
        </div>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="error">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
</body>
</html>
